.header {
	width: 100%;
	background-color: black;
	height: 56px;
	background-repeat: no-repeat;
	background-size: cover;
}
.back-button {
	margin-left: 16px;
	width: 16px;
}
.search {
	margin-right: 16px;
	width: 16px;
}
.page-title {
	color: #c1c1c1;
	margin-left: 16px;
}
.content {
	margin-top: 72px;
	padding-left: 8px;
	overflow-y: auto;
}
.movie-card {
	padding-right: 8px;
	padding-bottom: 16px;
}
.movie-text {
	color: #c1c1c1;
}
.movie-img-src {
	display: block;
	width: 100%;
	height: auto;
}
